RewriteEngine On

# Home → addTodo.php
RewriteRule ^home$ addTodo.php [L]

# Signup → signup.php
RewriteRule ^signup$ signup.php [L]

# Login → index.php
RewriteRule ^login$ index.php [L]

# Process → process.php
RewriteRule ^process$ process.php [L]

# Edit Notes → editNotes.php?key=xxxx
RewriteRule ^edit/([A-Za-z0-9]+)$ editNotes.php?key=$1 [L]
